<div class="table-responsive text-left">
    <table id="flight_table" class="table table-striped table-hover table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th style="display: none;">ID</th>
                <th>{{ from_dest }}</th>
                <th>{{ to_dest }}</th>
                <th>{{ date }}</th>
                <!-- <th>{{ price }}</th>
                <th>{{ parcel_picture }}</th> -->
            </tr>
        </thead>
        <tbody>
        {% for p in bringers %}
            <tr>
                <td style="display: none;">
                    {{ p.id }}
                </td>
                <td>
                    {{ p.destination_a }}
                </td>
                <td>
                    {{ p.destination_a }}
                </td>
                <td class="text-center">
                    {{ p.flight_date }}
                </td>
                <!-- <td class="text-center">
                    {{p.price}}
                </td>
                <td class="text-center">
                    <a target="_blank" href="media/parcel_{{p.id}}/picture.png"><span class="glyphicon glyphicon-picture" aria-hidden="true"></span></a>
                </td> -->
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="row bring_total_box">
        <div class="col-md-9">
            <h4>
                {{ earn_money_text | safe }}
            </h4>
        </div>
        <div class="col-md-3 text-right submit_button">
            <button id="bring_button" class="btn btn-primary btn-lg">{{ submit_text }}</button>
        </div>
    </div>
</div>
<div id="success_text" class="alert alert-success">
    {{ success_text_bring_form | safe }}
</div>
<script type="text/javascript">
var table = $('#flight_table').DataTable({
    "lengthChange": false,
    "order": [[ 3, 'asc' ], [ 0, 'desc' ]],
    "searching": false,
    "language": {
        "processing": "Подождите...",
        "search": "Поиск:",
        "lengthMenu": "Показать _MENU_ записей",
        "info": "Записи с _START_ до _END_ из _TOTAL_ записей",
        "infoEmpty": "Записи с 0 до 0 из 0 записей",
        "infoFiltered": "(отфильтровано из _MAX_ записей)",
        "infoPostFix": "",
        "loadingRecords": "Загрузка записей...",
        "zeroRecords": "Записи отсутствуют.",
        "emptyTable": "В таблице отсутствуют данные",
        "paginate": {
            "first": "Первая",
            "previous": "Предыдущая",
            "next": "Следующая",
            "last": "Последняя"
        },
        "aria": {
            "sortAscending": ": активировать для сортировки столбца по возрастанию",
            "sortDescending": ": активировать для сортировки столбца по убыванию"
        }
    }
});

$('#flight_table tbody').on( 'click', 'tr', function () {
    $(this).toggleClass('info');
} );
</script>