<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>COPOSTO</title>

    <!-- Bootstrap Core CSS -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="static/css/stylish-portfolio.css" rel="stylesheet">
    <link href="static/css/style.css" rel="stylesheet">
    <link href="static/css/datepicker.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
    <nav id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
            <li class="sidebar-brand">
                <a href="#top"  onclick = $("#menu-close").click(); >Start Bootstrap</a>
            </li>
            <li>
                <a href="#top" onclick = $("#menu-close").click(); >Home</a>
            </li>
            <li>
                <a href="#about" onclick = $("#menu-close").click(); >About</a>
            </li>
            <li>
                <a href="#services" onclick = $("#menu-close").click(); >Services</a>
            </li>
            <li>
                <a href="#portfolio" onclick = $("#menu-close").click(); >Portfolio</a>
            </li>
            <li>
                <a href="#contact" onclick = $("#menu-close").click(); >Contact</a>
            </li>
        </ul>
    </nav>

    <!-- Header -->
    <header id="top" class="header">
        <div class="text-vertical-center">
            <!-- <h1>COPOSTO</h1> -->
            <div>
                <img class="img-responsive" src="static/img/logo.png"/>
            </div>
            <h3>From people to people</h3>
            <br>
            <a href="#send_form" id="send_form_button" class="btn btn-primary btn-lg">Send</a>
        </div>
        <div class="search" id="send_form">
	        <div class="container">
	          	<div class="row">
	            	<div class="col-md-10 col-md-offset-1">
	              		<div class="form-section">
	                		<div class="row">
	                    		<form role="form">
	                      			<div class="col-md-3 col-md-offset-1">
	                        			<div class="form-group from" id="prefetch">
	                          				<!-- <label class="sr-only" for="location">Location</label> -->
	                          				<input type="email" class="form-control typeahead" id="location" placeholder="From">
	                       				</div>
	                      			</div>
	                      			<div class="col-md-3">
	                        			<div class="form-group to" id="prefetch">
	                          				<!-- <label class="sr-only" for="location">Location</label> -->
	                          				<input type="email" class="form-control typeahead" id="location" placeholder="To">
	                       				</div>
	                      			</div>
	                      			<div class="col-md-2">
	                        			<div class="form-group">
	                          				<!-- <label class="sr-only" for="checkin">From</label> -->
	                          				<div class="input-group">
	                            				<input type="text" class="form-control" id="date" placeholder="Date">
	                            				<span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
	                          				</div>
	                        			</div>
	                      			</div>
	                      			<div class="col-md-2 img-rounded">
	                        			<button type="submit" class="btn btn-lg btn-default btn-primary">
	                        				Bring
	                        			</button>
	                      			</div>
			                    </form>
			                </div>
	              		</div>
	            	</div>
	          	</div>
	        </div>
		</div>
    </header>

    <div class='bottom_area'>

    
        <!-- Sending form -->
        <section id="about" class="about">
            <div class="container">
                <div class="row text-center">
                    <div class="col-md-10 col-md-offset-1">
                        <div class = "sliding_section row">
                            <div class="col-md-8 col-md-offset-1 send_area_div">
                                <p class="send_form_area">
                                    
                                </p>
                            </div>
                            <div class = "col-md-8 col-md-offset-1 image">
                                <span id='button'>Parcel picture</span>
                                <span id='val'></span>
                            </div>
                            <div class='col-md-2 button'>
                                <input type='submit' class='btn btn-primary btn-lg' value='Submit' />
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->
        </section>
        

        <!-- Footer -->
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 col-lg-offset-1 text-center">
                        <h4><strong>COPOSTO</strong>
                        </h4>
                        <p>50 UNIST-gil<br>Ulsan, South Korea</p>
                        <ul class="list-unstyled">
                            <li><i class="fa fa-phone fa-fw"></i> (82) 10 3555-4651</li>
                            <li><i class="fa fa-envelope-o fa-fw"></i>  <a href="mailto:admin@tentech.io">admin@tentech.io</a>
                            </li>
                        </ul>
                        <br>
                        <ul class="list-inline">
                            <li>
                                <a href="#"><i class="fa fa-facebook fa-fw fa-3x"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-twitter fa-fw fa-3x"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-dribbble fa-fw fa-3x"></i></a>
                            </li>
                        </ul>
                        <hr class="small">
                        <p class="text-muted">Copyright &copy; Tentech 2015</p>
                    </div>
                </div>
            </div>
        </footer>

    </div>

    <!-- jQuery -->
    <script src="static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="static/js/bootstrap.min.js"></script>

	<!-- DatePicker -->
    <script src="static/js/bootstrap-datepicker.js"></script>    
    
    <!-- Typeahead -->
    <script src="static/js/typeahead.bundle.js"></script>

    <!-- Image upload [dropzone] -->
    <script src="static/js/dropzone.js"></script>

    <!-- Custom Theme JavaScript -->
    <script>
$(document).ready(function(){
    // Closes the sidebar menu
    $("#menu-close").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });

    // Opens the sidebar menu
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });

    // Scrolls to the selected menu item on the page
    $(function() {
        $('a[href*=#]:not([href=#])').click(function() {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {

                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                if (target.length) {
                    $('html,body').animate({
                        scrollTop: target.offset().top
                    }, 1000);
                    return false;
                }
            }
        });
    });

        var nowTemp = new Date();
        var now = new Date(nowTemp.getFullYear(), nowTemp.getMonth(), nowTemp.getDate(), 0, 0, 0, 0);
        var checkin = $('#date').datepicker({
        onRender: function(date) {
            return date.valueOf() < now.valueOf() ? 'disabled' : '';
        }
      }).on('changeDate', function(ev) {
        checkin.hide();
      }).data('datepicker');
    

    // Instantiate the Bloodhound suggestion engine    
    var cities = new Bloodhound({
        datumTokenizer: Bloodhound.tokenizers.obj.whitespace('value'),
        queryTokenizer: Bloodhound.tokenizers.whitespace,
        // prefetch: '../data/films/post_1960.json',
        remote: {
            url: '/city/?q=%QUERY',
            filter: function(x) {
                return $.map(x, function(item) {
                    return {value: item};
                });
            },
            wildcard: '%QUERY'
        }
    });

    // Initialize the Bloodhound suggestion engine
    cities.initialize();

	$('#prefetch .typeahead').typeahead(null, {
        name: 'cities',
        display: 'value',
        source: cities.ttAdapter(),
        minLength: 3, // send AJAX request only after user type in at least 3 characters
        limit: 5 // limit to show only 10 results
    });

    $.ajax({
        type: "POST",
        url: "/send_form_view", 
        data: {'csrfmiddlewaretoken': '{{ csrf_token }}'},
        success : function(data) {
            $('.send_form_area').html(data);
            // $('.send_form_area').hide();
            $('#send_form').submit(function(event) {
                event.preventDefault();
                console.log('submitted');
            });
            var divOut = $('<div />').addClass('col-md-12');
            var divOut2 = $('<div />').addClass('col-md-2');
            var div = $('<div />').addClass('input-group');
            div = div.wrap(divOut).parent();
            var span = $('<span />').addClass('input-group-addon date_a');
            span.attr('id', 'checkin');
            // span = span.wrap(divOut2).parent();
            var i = $('<i />').addClass('glyphicon glyphicon-calendar');
            span.append(i);
            var span2 = $('<span />').addClass('input-group-addon');
            span2.attr('id', 'checkin');
            var i2 = $('<i />').addClass('glyphicon glyphicon-calendar');
            // span2 = span2.wrap(divOut2).parent();
            span2.append(i2);
            var date_a = $('input[name="date_a"]');
            var date_b = $('input[name="date_b"]');
            // date_a.after(span);
            // date_b.after(span2);
            date_a.wrap(div);
            date_b.wrap(div);
            date_a.attr('id', 'checkin');
            date_b.attr('id', 'checkout');

            var destination_a = $('input[name="destination_a"]');
            var destination_b = $('input[name="destination_b"]');
            divOut = $('<div />').attr('id', 'prefetch2');
            divOut.addClass('col-md-6');
            destination_a.addClass('typeahead');
            destination_b.addClass('typeahead');
            destination_a = destination_a.wrap(divOut).parent();
            destination_b = destination_b.wrap(divOut).parent();

            $('#prefetch2 .typeahead').typeahead(null, {
                name: 'cities',
                display: 'value',
                source: cities.ttAdapter(),
                minLength: 3, // send AJAX request only after user type in at least 3 characters
                limit: 5 // limit to show only 10 results
            });

            $('.image').click(function () {
                $("input[type='file']").trigger('click');
            })

            $("input[type='file']").change(function () {
                $('#val').text(this.value.replace(/C:\\fakepath\\/i, ''));
                $('#button').text($('#button').html() + ":");
            })
        

            var nowTemp = new Date();
            var now = new Date(nowTemp.getFullYear(), nowTemp.getMonth(), nowTemp.getDate(), 0, 0, 0, 0);
            var checkin = $('#checkin').datepicker({
            onRender: function(date) {
                return date.valueOf() < now.valueOf() ? 'disabled' : '';
            }
          }).on('changeDate', function(ev) {
            
            if (ev.date.valueOf() > checkout.date.valueOf()) {
              var newDate = new Date(ev.date)
              newDate.setDate(newDate.getDate() + 1);
              checkout.setValue(newDate);
            }
            checkin.hide();
            $('#checkout')[0].focus();
          }).data('datepicker');
          var checkout = $('#checkout').datepicker({
            onRender: function(date) {
              return date.valueOf() <= checkin.date.valueOf() ? 'disabled' : '';
            }
          }).on('changeDate', function(ev) {
            checkout.hide();
          }).data('datepicker');
        }
    });

    $('#send_form_button').click(function() {
        var clicks = $(this).data('clicks');
        if (clicks) {
            $('.sliding_section').slideUp();
        } else {
            $('.sliding_section').slideDown();
        }
        $(this).data("clicks", !clicks);
    });
    
});
    </script>

</body>

</html>
