<form action='#' id="send_form" method='post'>{% csrf_token %}
	<div class="col-md-8 col-md-offset-1 send_area_div">
		<h2 class="text-left">{{ send_form_title }}</h2>
		{{ form.non_field_errors }}
		<div class="form-group control-group {%if field.errors %}has-error{%endif%} dest_a">
			<!-- {{ form.destination_a.errors }} -->
		    {{ form.destination_a }}
		    <!-- <div class="help-block with-errors"></div> -->
		</div>
		<div class="form-group control-group {%if field.errors %}has-error{%endif%} dest_b">
		    <!-- {{ form.destination_b.errors }} -->
		    {{ form.destination_b }}
		    <div class="help-block with-errors"></div>
		</div>
		<div class="form-group control-group {%if field.errors %}has-error{%endif%} col-md-6 date_a">
		    <!-- {{ form.date_a.errors }} -->
		    {{ form.date_a }}
		    <!-- <div class="help-block with-errors"></div> -->
		</div>
		<div class="form-group control-group {%if field.errors %}has-error{%endif%} col-md-6 date_b">
		    <!-- {{ form.date_b.errors }} -->
		    {{ form.date_b }}
		    <!-- <div class="help-block with-errors"></div> -->
		</div>
		<div class="form-group control-group {%if field.errors %}has-error{%endif%} ">
		    <!-- {{ form.parcel_name.errors }} -->
		    {{ form.parcel_name }}
		    <div class="help-block with-errors"></div>
		</div>
		<div class="form-group control-group {%if field.errors %}has-error{%endif%} ">
		    <!-- {{ form.description.errors }} -->
		    {{ form.description }}
		    <div class="help-block with-errors"></div>
		</div>
		<div class="form-group control-group {%if field.errors %}has-error{%endif%} ">
		    <!-- {{ form.weight.errors }} -->
		    {{ form.weight }}
		    <div class="help-block with-errors"></div>
		</div>
		<div class="form-group control-group {%if field.errors %}has-error{%endif%} ">
		    <!-- {{ form.price.errors }} -->
		    {{ form.price }}
		    <div class="help-block with-errors"></div>
		</div>
		<div class="form-group control-group {%if field.errors %}has-error{%endif%} ">
		    <!-- {{ form.image.errors }} -->
		    {{ form.image }}
		    <div class="help-block with-errors"></div>
		</div>
	</div>
	<div class = "col-md-8 col-md-offset-1 image">
	    <span id='button'>{{ parcel_picture }}</span>
	    <span id='val'></span>
	    <div class="help-block with-errors"></div>
	</div>
	<div class='col-md-2 button'>
	    <input type='submit' id='send_button' class='btn btn-primary btn-lg' value='{{ submit_text }}' />
	</div>
	<div id="success_text" class="alert alert-success">
		{{ success_text_send_form | safe }}
	</div>
</form>